.card-grid-container {
    display: grid;
    place-items: center;
    width: 100%;

    // title
    h1 {
        margin-bottom: 2rem;
    }
    
    // filters
    .type-filters {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    // The actual card grid
    .card-grid {
        /* display: flex; */
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
        /* gap: 4rem; */
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: auto;
        grid-row-gap: 2rem;
        place-items: center;
    
        width: 80vw;

        // Mobile layout
        @include mobile {
            // display
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: space-evenly;

            // wider
            width: 90vw;

            // smaller card images
            .card-image img {
                max-height: 100px !important;
                max-height: 200px !important;
            }
        }
    }
}

