// Contains all the colours used on the website

$colour-dark: #370101;
$colour-accent: #f6c955;
$colour-light: #e2bd9d;
$colour-mid-light: #d19562;

$text-colour: #333333;

// grotto beasts colour palette
$colour-blue-dark: #25609a;
$colour-blue-light: #2bddf8;
$colour-green-light: #ade985;
$colour-green-dark: #2a481e;
$colour-orange: #fac648;
$colour-red: #de3852;

// card border colours
$colour-challenger: #192442;
$colour-beast: #50231d;
$colour-grotto: #1f3317;
$colour-wish: #a04b14;

// gradients
$blue-green-gradient: linear-gradient(0deg, rgba(184,233,131,1) 0%, rgba(46,219,246,1) 100%);
$blue-blue-green-gradient: linear-gradient(0deg, rgba(173,233,133,1) 0%, rgba(109,227,191,1) 33%, rgba(45,220,248,1) 100%);
$green-orange-gradient: linear-gradient(0deg, rgba(250,198,72,1) 0%, rgba(197,229,113,1) 100%);


// CSS Vars
:root {
    --colour-accent: #f6c955;
    --colour-dark: #370101;
    --colour-light: #e2bd9d;
    --colour-mid-light: #d19562;

    // grotto beasts colour palette
    --colour-blue-dark: #25609a;
    --colour-blue-light: #2bddf8;
    --colour-green-light: #ade985;
    --colour-green-dark: #2a481e;
    --colour-orange: #fac648;
    --colour-red: #de3852;
}
