// Contains all the colours used on the website

$colour-dark: #370101;
$colour-accent: #f6c955;
$colour-light: #e2bd9d;

$text-colour: #333333;

// grotto beasts colour palette
$colour-blue-dark: #25609a;
$colour-blue-light: #2bddf8;
$colour-green-light: #ade985;
$colour-orange: #fac648;

// CSS Vars
:root {
    --colour-accent: #f6c955;
    --colour-dark: #370101;
    --colour-light: #e2bd9d;

    // grotto beasts colour palette
    --colour-blue-dark: #25609a;
    --colour-blue-light: #2bddf8;
    --colour-green-light: #ade985;
    --colour-orange: #fac648;
}
