// Contains all the colours used on the website

$colour-dark: #370101;
$colour-accent: #f6c955;
$colour-light: #e2bd9d;
$colour-mid-light: #d19562;

$text-colour: #333333;

// grotto beasts colour palette
$colour-blue-dark: #25609a;
$colour-blue-light: #2bddf8;
$colour-green-light: #ade985;
$colour-green-dark: #2a481e;
$colour-orange: #fac648;
$colour-red: #de3852;

// CSS Vars
:root {
    --colour-accent: #f6c955;
    --colour-dark: #370101;
    --colour-light: #e2bd9d;
    --colour-mid-light: #d19562;

    // grotto beasts colour palette
    --colour-blue-dark: #25609a;
    --colour-blue-light: #2bddf8;
    --colour-green-light: #ade985;
    --colour-green-dark: #2a481e;
    --colour-orange: #fac648;
    --colour-red: #de3852;
}
