// Section of the Deck page that displays statistic graphs

.deck-graphs-container {
    // display
    display: grid;
    place-items: center;

    // margin
    margin-top: 1rem;
    margin-bottom: 12rem;

    // Section Header
    h2 {
        margin-bottom: 1rem;
    }

    // Mobile
    @include mobile {
        // less margin
        margin-bottom: 2rem;
        
        // larger font
        h2 {
            font-size: 2rem;
        }
        
    }

    .graphs-container {
        // display
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        // size
        width: 90vw;

        .graph-item {
            height: 300px;
            width: 400px;
            // width: 90%;
        }

        // Mobile layout: vertical layout
        @include mobile {
            flex-direction: column;
            gap: 2rem;
            width: 90vw;

            .graph-item {
                width: 90%;
            }
        }
    }
}