// A preview of 6 cards you could draw when playing with a deck

.starting-hand-container {
    // display
    display: grid;
    place-items: center;

    // margin
    margin-top: 1rem;
    margin-bottom: 6rem;

    // Section Header
    h2 {
        margin-bottom: 1rem;
    }

    // Mobile layout: less margin, larger title
    @include mobile {
        margin-bottom: 2rem;

        h2 {
            font-size: 2rem;
        }
    }

    // Buttons
    .buttons {
        // display
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;

        button {
            // text
            font-size: 0.8rem;
            color: white;
            font-weight: bold;
            
            // design
            background-color: fade-out($color: $colour-dark, $amount: 0.15);
            padding: 0.5rem 1rem;
            border-radius: 20px;
            border: 2px solid $colour-accent;

            // cursor
            cursor: pointer;

            // animations
            transition: transform 200ms;

            &:hover {
                background-color: $colour-accent;
                color: $colour-dark;
                transform: scale(1.1);
            }
        }

        // Mobile layout: bigger buttons
        @include mobile {
            button {
                padding: 1rem 2rem;
                font-size: 1rem;
            }
        }
    }
}

.starting-hand {
    // display
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    // size
    min-height: 200px;
    height: fit-content;
    max-width: 50vw;

    margin-bottom: 2rem;

    // Container for cards
    .card-image {
        width: 100px;
        max-height: 200px;

        img {
            height: 100%;
            border-radius: 8px;
        }
    }

    // Mobile layout
    @include mobile {
        height: fit-content;
        margin-bottom: 6rem;

        // Overlap cards on top of each other
        .card-image {
            max-height: 150px;
            max-width: 80px;

            img {
                height: 200px;
            }
        }
    }
}