// General Use Mixins go here!

// Circle with bold number inside it!
@mixin icon-number($colour, $size: 5rem) {
    // display
    display: grid;
    position: relative;
    text-align: center;

    // font
    font-size: $size * 0.75;
    // font-size: $size/1.25;
    font-weight: 900;
    color: white;

    // design
    height: $size;
    width: $size;
    background-color: $colour;
    outline: 4px solid white;
    border-radius: 100%;
}

// Fullscreen Gif Overlay
@mixin overlay($url, $repeat: repeat-x) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 999;
    // background-image: url("https://i.giphy.com/ggK4TpfK2cfuZcokhj.webp");
    background-image: url($url);
    background-repeat: $repeat;
    pointer-events: none;
}