// The sorting buttons

// Container for sorting buttons and visibility button
.sorting-options-container {
    // display
    display: grid;
    place-items: center;

    // margins
    // margin-bottom: 0.5rem;
    // margin-top: var(--space-sm);
}

// The actual sorting options
.sorting-options {
    // display
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    // margin
    // margin-top: 1rem;
}