// The voting pairs for the most iconic beasts survey

.voting-pair {
    // display
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    // Grid Item
    .voting-pair-item {
        // display
        display: grid;
        place-items: center;

        // Beast name
        h2 {
            margin-bottom: 0.5rem;
        }

        // Beast image
        img {
            max-height: 240px;
            margin-bottom: 0.5rem;
        }

        // Beast who won the vote
        &.winner img {
            // outline: 2px solid gold;
            outline: 2px solid $colour-accent;
        }

        @include mobile() {
            // Smaller card images
            img {
                max-height: 180px;
                margin-bottom: 0.5rem;
            }
        }
    }
}

.top-ten {
    @extend .voting-pair;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    @include mobile() {
        gap: 1rem;
    }

    // Grid Item
    .top-ten-item {
        @extend .voting-pair-item;

        // The ranking of the Beast
        .rank {
            // position
            position: absolute;
            top: 65%;
            left: 32%;

            // display
            display: grid;
            place-items: center;

            // the actual icon
            span {
                @include icon-number($colour-accent, 4rem);
                // z-index: 10;
            }
        }
    }
}