// Variables
@import 'queries';
@import 'FONTS';
@import 'COLOURS';
@import 'ICONS';
@import 'MIXINS';
@import 'UNITS';

// Elements
@import 'Header';
@import 'Footer';
@import 'Deck';
@import 'DeckHeader';
@import 'DeckStatsBar';
@import 'DeckExplorer';
@import 'CardPage';
@import 'HandPreview';
@import 'DeckGraphs';
@import 'Input';
@import 'DeckBuilder';
@import 'Dividers';
@import 'Modals';
@import 'CardExplorer';
@import 'TagFilters';
@import 'AboutPage';
@import 'Account';
@import 'Sorting';
@import 'UserProfile';
@import 'CardVersions';
@import 'DeckBuilderCard';
@import 'HighlightBubble';
@import 'Panels';
@import 'VotingPair';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Global styles
:root {
    // font-size: $font-size;
    font-family: $font-family;
    color: $text-colour;
    background-color: $colour-light;
}

html {
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.center {
    display: grid;
    place-items: center;
}

.page-body {
    // display
    display: grid;
    // place-items: center;

    // size
    width: 66vw;

    // Mobile layout
    @include mobile() {
        width: 90vw;
    }
}

.debug-outline {
    // outline: 4px solid $colour-dark;
}


// Realistic card styling for all card images
.card-image {
    transition: all 200ms;
    
    img {
        max-height: 360px;
        
        border-radius: 20px;
        // border-radius: 2cqh;
        filter: drop-shadow(0 0 0.75rem $colour-dark);
        outline: 1px solid transparentize($color: $colour-dark, $amount: 0.5);
        outline-offset: -1px;
    }

    // Hover: grow and move to the foreground
    &:hover {
        cursor: pointer;
        z-index: 10;
        transform: scale(1.2);

        img {
            filter: drop-shadow(0 0 0.33rem $colour-dark);
        }
        
    }

    @include screen-laptop() {
        img {
            border-radius: 12px;
            max-height: 300px;
        }
    }
}

.card-image-large {
    @extend .card-image;
    img {
        max-height: none;
        height: 420px;
    }
}

.card-image-small {
    @extend .card-image;

    position: relative;
    
    img {
        border-radius: 8px;
    }
}

button {
    background: none;
    border: none;
}

.desktop-only {
    @include screen-min(960px) {
        
    }
    @include mobile {
        display: none !important;
    }
}
.mobile-only {
    @include mobile {
        
    }
    @include screen-min(960px) {
        display: none !important;
    }
}

// Container for the deck code
.deck-code {
    margin-top: 1rem;
    color: var(--colour-blue-dark);
    font-weight: 700;

    // The actual deck code text
    span {
        margin-left: 0.25rem;
        padding: 0.25rem 0.5rem;

        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.5);

        cursor: pointer;

        // hover effect
        &:hover {
            background-color: var(--colour-blue-dark);
            color: white;
            opacity: 1;
        }
    }
}

// The icon
.deck-code-icon {
    height: 1rem;
}

// Seasonal snow event
.snow-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 999;
    background-image: url("https://i.giphy.com/ggK4TpfK2cfuZcokhj.webp");
    background-repeat: repeat-x;
    pointer-events: none;
}

// Generic no-interaction element
.disabled {
    opacity: 0.5;
    cursor: no-drop;
    pointer-events: none;
}

// Generic fade out
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}